<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <div>
        <p><a th:href="@{/books/create}" th:text="'Create new book!!!'"></a></p>
        <p th:if="${success_text != null}" th:text="${success_text}" class="info"></p>
        <div th:each="book: ${booksList}">
            <p>
                <a th:text="'Name = ' + ${book.bookName}" th:href="@{/books/{id}(id=${book.id})}"></a>
            </p>
        </div>
    </div>
</body>
</html>