<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task planner</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <div>
        <p th:if="${success_text != null}" th:text="${success_text}" class="info"></p>
    </div>

    <div>
        <p><a th:href="@{/tasks/new}" th:text="'Add task to book'"></a></p>
    </div>

    <div th:object="${curBook}">
        <p th:text="'ID of the book - ' + *{id}"></p>
        <p th:text="'name of the book - ' + *{bookName}"></p>

        <p>
            <a th:href="@{/books/edit/{id}(id=${curBook.id})}" th:text="Edit"></a>
            <a th:href="@{/books/delete/{id}(id=${curBook.id})}" th:text="Delete"></a>
        </p>

        <div>List tasks:</div>
        <div th:each="task : *{listTasks}">
            <p><a th:text="${task.name}" th:href="@{/tasks/{id}(id=${task.id})}"></a></p>
        </div>
    </div>
</body>

</html>