<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New task</title>
</head>
<body>
<form method="post" th:action="@{/tasks/{id}/edit(id=${editedTask.id})}" th:object="${editedTask}">
    <div>
        <label for="name">Name of the task</label>
        <input id="name" th:field="*{name}">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name is required</span>
    </div>

    <div>
        <label for="description">Description of the task</label>
        <input id="description" th:field="*{descriptionTask}">
        <span th:if="${#fields.hasErrors('descriptionTask')}" th:errors="*{descriptionTask}">Description is required</span>
    </div>

    <div>
        <label for="date_completing">Date of the completing</label>
        <input id="date_completing" th:field="*{dateCompleting}">
        <span th:if="${#fields.hasErrors('dateCompleting')}" th:errors="*{dateCompleting}">Date is required</span>
    </div>

    <div>
        <span>Enter the priority of the task</span>
        <label>
            <select name="priorities" th:field="*{priorityTasks}">
                <option th:each="priorityTask : ${taskPriorities}" th:value="${priorityTask}" th:text="${priorityTask}"></option>
            </select>
        </label>
    </div>

    <div>
        <input type="submit" value="Edit my task"/>
    </div>
</form>
</body>
</html>