<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task planner</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <div>
        <p th:if="${ok == true}" th:text="${message}"></p>
    </div>
    <div th:object="${task}">
        <p th:text="'ID of the task - ' + *{id}"></p>
        <p th:text="'name of the task - ' + *{name}"></p>
        <p th:text="'description of the task - ' + *{descriptionTask}"></p>
        <p th:text="'Date completing - ' + *{dateCompleting}"></p>
        <p th:text="'Priority of the task - ' + ${task.priorityTasks}"></p>
    </div>

    <div>
        <form method="post" th:action="@{/tasks/{id}/complete(id=${task.id})}">
            <button class="link-button">Complete this task</button>
        </form>
        <p><a th:href="@{/books/{id}(id=${curBook.id})}" th:text="'Return to book page'"></a></p>
        <p><a th:href="@{/tasks/{id}/edit(id=${task.id})}" th:text="'Edit this task'"></a></p>
        <p><a th:href="@{/tasks/{id}/delete(id=${task.getId()})}" th:text="'Delete the task'"></a></p>
    </div>
</body>

</html>